<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">
</head>

<body>
    <h1>Question id: {{ question.id }}</h1>
    <div class="questions__single">
        <h3>{{ question.title }}</h3>
        <p>{{ question.text }}</p>
        <p>{{ question.added_at }}</p>
        <p>{{ question.rating }}</p>
        <p>{{ question.author }}</p>
        <p>{{ question.likes }}</p>
    </div>

    {% block answers %}

    <h2>Answers:</h2>

    {% for answer in answers %}

    <div class="answer">

        <p class="info">

            Answer by {{ answer.author }} [{{ answer.added_at }}]

        </p>

        {{ answer.text }}

    </div>

    {% endfor %}

    {% endblock %}

    <h1>Leave your answer to the question here:</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.text }}
        {{ form.question }}
        {{ form.author }}
        <button type="submit">Submit</button>
    </form>
    <span>{{ error }}</span>
</body>

</html>