<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">
</head>

<body>
    {% if type == 0 %}
    <h1>Recent questions</h1>
    {% elif type == 1 %}
    <h1>Popular questions</h1>
    {% else %}
    <p>Error occured</p>
    {% endif %}

    <div class="questions">
        {% for question in articles %}
        {# Each "contact" is a Contact model object. #}
        <div class="questions__single">
            <h3>{{ question.title }}</h3>
            <p>{{ question.text }}</p>
            <p>{{ question.added_at }}</p>
            <p>{{ question.rating }}</p>
            <p>{{ question.author }}</p>
            <p>{{ question.likes }}</p>
        </div>
        {% endfor %}
    </div>
    
    <div class="pagination">
        <span class="step-links">
            {% if articles.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ articles.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>

            {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">next</a>
            <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>

</html>