<!DOCTYPE html>
{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">
</head>

<body>
    <p>Hello World!</p>
    {% for question in articles %}
    {# Each "contact" is a Contact model object. #}
    {{ question.title }}<br>
    {{ question.text }}<br>
    {{ question.added_at }}<br>
    {{ question.rating }}<br>
    {{ question.author }}<br>
    {{ question.likes }}<br>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if articles.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ articles.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
            </span>

            {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">next</a>
            <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>

</html>